# Ignore all Documentation and Testing Data
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
LICENSE export-ignore

# Text Qualifier
* text=auto

*.md text eol=lf

*.zs diff=zenscript eol=crlf
*.json diff=json eol=crlf

*.png binary
*.jpg binary
*.bmp binary