# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=Проснитесь и пойте! Утро уже наступило!
    S:OnSleepText=теперь спит.
    S:OnWakeText=покинул свою кровать.
    I:SleeperPerc=67
}


